:root{
    --font-primary: "Nunito Medium";
    --1st-color: #439A97;
    --2nd-color: #62B6B7;
    --3rd-color: #97DECE;
    --4th-color: #CBEDD5;
    --bg-primary: #62B6B7;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
